.graph_wrapper {
  width: 100%;
  overflow: scroll;
}

.graph {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.hidden {
  display: none;
}

thead td button {
  cursor: pointer;
  appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0.375rem 1rem 0.375rem 0.75rem;
  margin: 0;
  font-size: 0.875rem;
  text-align: left;
  outline: inherit;
  position: relative;
}

thead td button:hover {
  text-decoration: underline;
}

thead td:last-child {
  text-align: right;
}

.active {
  color: white;
}

thead td button::before {
  /* arrow up */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-110%);

  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}
.active.sort_asc::before {
  border-bottom-color: rgba(255, 255, 255, 1);
}
thead td button::after {
  /* arrow down */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(10%);

  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
}
.active.sort_desc::after {
  border-top-color: rgba(255, 255, 255, 1);
}

tbody td {
  padding: 0.375rem 0.75rem;
}

tbody tr:nth-child(2n) td {
  background-color: var(--dark);
}

tbody tr:nth-child(2n) td:first-child {
  border-top-left-radius: var(--corder-radius-sm);
  border-bottom-left-radius: var(--corder-radius-sm);
}
tbody tr:nth-child(2n) td:last-child {
  border-top-right-radius: var(--corder-radius-sm);
  border-bottom-right-radius: var(--corder-radius-sm);
}

.event td > span {
  display: flex;
  justify-content: space-between;
}
.event td span span:last-child {
  padding-left: 1rem;
  text-align: right;
}
.event td:last-child {
  text-align: right;
}

@media (max-width: 500px) {
  .event td > span,
  .event td > span span {
    display: block;
  }

  .event td span span:last-child {
    /* text-align: left; */
    font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana,
    'Bitstream Vera Sans', sans-serif;
    text-transform: uppercase;
    color: var(--white-600);
    padding-left: 0;
  }
  
  .appearances .event td span span:last-child {
    text-align: left;
  }
    
}
