.duration_chart_wrapper {
  position: relative;
  margin: 5rem 0;
  display: flex;

  background: linear-gradient(
    to bottom,
    var(--white-200),
    var(--white-200) 2%,
    var(--background) 2%,
    var(--background)
  );
  background-size: 100% 25%;
}

.chart_labels {
  border-right: 1px solid var(--white-600);
  margin-right: 0.5rem;
}

.chart_labels ul {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
  list-style: none;
  font-size: 0.75em;
  width: 1.5rem;
}

/* 5hr */
/* .chart_labels li:first-child {
    position: absolute;
    bottom: 100%;
} */
/* 4hr */
.chart_labels li:first-child {
  position: absolute;
  bottom: 100%;
}
/* 3hr */
.chart_labels li:nth-child(2) {
  position: absolute;
  bottom: 75%;
}
/* 2hr */
.chart_labels li:nth-child(3) {
  position: absolute;
  bottom: 50%;
}
/* 1hr */
.chart_labels li:nth-child(4) {
  position: absolute;
  bottom: 25%;
}
/* 0hr */
.chart_labels li:last-child {
  position: absolute;
  bottom: 0;
}

.duration_chart {
  display: flex;
  height: 50vh;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  overflow: scroll;
  align-items: end;
}

.duration_chart::after,
.duration_chart::before {
  content: '';
  padding: 0.25rem;
}

.duration_chart:hover .episode {
  opacity: 0.7;
}

.episode {
  display: block;
  flex: 1 0 4px;
  background-color: var(--white);

  cursor: pointer;
  appearance: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  outline: inherit;
}

.duration_chart .episode:hover {
  opacity: 1;
  flex: 1 0 10px;
  background-color: var(--white);
  border-left: 2px solid var(--background);
  border-right: 2px solid var(--background);
}

.duration_chart .episode.active {
  opacity: 1;
  flex: 1 0 16px;
  border-left: 2px solid var(--background);
  border-right: 2px solid var(--background);
}

.episode_details {
  position: absolute;
  top: -2.5rem;
  max-width: 20rem;
  background-color: var(--background-600);
  backdrop-filter: blur(3px) saturate(120%);
  padding: 1rem;
  border: 1px solid var(--white-300);
}

.left {
  left: 2rem;
}
.right {
  right: 0;
}

.episode_details em {
  font-family: script;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0.2em 0;
  display: block;
}
