.pub_date {
  margin: 0;
  color: var(--white-600);
  font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana,
    'Bitstream Vera Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.audio_details {
  margin: 0;
  text-align: right;
  flex-shrink: 0;
}
