:root {
  --white: rgb(238, 238, 238);
  --white-100: rgba(238, 238, 238, 0.1);
  --white-200: rgba(238, 238, 238, 0.2);
  --white-300: rgba(238, 238, 238, 0.33);
  --white-500: rgba(238, 238, 238, 0.5);
  --white-600: rgba(238, 238, 238, 0.66);
  --white-800: rgba(238, 238, 238, 0.8);
  --light-text: #ddd;
  --dark: rgba(0, 0, 0, 0.2);
  --background: #4a525a;
  --background-600: rgba(74, 82, 91, 0.66);
  --bright-background: #606870;

  --corder-radius-sm: 8px;

  --colorful-1: hsl(56, 85%, 89%);
  --colorful-dark-1: hsl(56, 85%, 22%);
  --colorful-2: hsl(27, 92%, 90%);
  --colorful-dark-2: hsl(27, 92%, 30%);
  --colorful-3: hsl(356, 100%, 91%);
  --colorful-dark-3: hsl(356, 100%, 31%);
  --colorful-4: hsl(311, 64%, 85%);
  --colorful-dark-4: hsl(311, 64%, 25%);
  --colorful-5: hsl(263, 64%, 84%);
  --colorful-dark-5: hsl(263, 64%, 24%);
  --colorful-6: hsl(215, 77%, 80%);
  --colorful-dark-6: hsl(215, 77%, 20%);
  --colorful-7: hsl(195, 82%, 76%);
  --colorful-dark-7: hsl(195, 82%, 16%);
  --colorful-8: hsl(185, 84%, 76%);
  --colorful-dark-8: hsl(185, 84%, 16%);
  --colorful-9: hsl(167, 82%, 78%);
  --colorful-dark-9: hsl(167, 82%, 18%);
  --colorful-10: hsl(126, 89%, 85%);
  --colorful-dark-10: hsl(126, 89%, 18%);
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
  background-color: var(--background);
  color: var(--white);
  /* DF's fonts, then system fonts */
  font-family: Verdana, 'Bitstream Vera Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
  border-color: var(--white-300);
}

.container {
  max-width: 60rem;
  padding: 0 max(8px, 1vw);
  margin: 0 auto 7rem;
}
.container_narrow {
  max-width: 35rem;
  padding: 0 max(8px, 1vw);
  margin: 0 auto 7rem;
}

header a {
  border: none;
}

.headline,
.title {
  color: var(--white);
  font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana,
    'Bitstream Vera Sans', sans-serif;
  text-transform: uppercase;
}
.headline_thin,
.title_thin {
  color: var(--white);
  text-align: center;
  font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana,
    'Bitstream Vera Sans', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.05em;
  letter-spacing: 0.2em;
}

.text_center {
  text-align: center;
}

em {
  font-family: script;
  font-weight: normal;
}

.headline em {
  font-family: script;
  font-weight: normal;
  font-size: 0.675em;
  margin: 0.5em 0;
  display: block;
  text-transform: lowercase;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.fifty_fifty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover,
a:active {
  background-color: var(--white-100);
}

audio {
  height: 3em;
  width: 100%;
}

h3,
h4,
h5,
h6 {
  color: var(--white-800);
}

.center {
  text-align: center;
}

.m_top_0 {
  margin-top: 0;
}
.m_v_lg {
  margin: 4rem 0;
}
.m_top_lg {
  margin-top: 4rem;
}
.m_bot_lg {
  margin-bottom: 4rem;
}
.m_top_sm {
  margin-top: 2rem;
}
.m_bot_sm {
  margin-bottom: 2rem;
}

.colorful_1 {
  background-color: var(--colorful-1);
  color: var(--colorful-dark-1);
  border-color: var(--colorful-dark-1)
}
.colorful_2 {
  background-color: var(--colorful-2);
  color: var(--colorful-dark-2);
  border-color: var(--colorful-dark-2)
}
.colorful_3 {
  background-color: var(--colorful-3);
  color: var(--colorful-dark-3);
  border-color: var(--colorful-dark-3)
}
.colorful_4 {
  background-color: var(--colorful-4);
  color: var(--colorful-dark-4);
  border-color: var(--colorful-dark-4)
}
.colorful_5 {
  background-color: var(--colorful-5);
  color: var(--colorful-dark-5);
  border-color: var(--colorful-dark-5)
}
.colorful_6 {
  background-color: var(--colorful-6);
  color: var(--colorful-dark-6);
  border-color: var(--colorful-dark-6)
}
.colorful_7 {
  background-color: var(--colorful-7);
  color: var(--colorful-dark-7);
  border-color: var(--colorful-dark-7)
}
.colorful_8 {
  background-color: var(--colorful-8);
  color: var(--colorful-dark-8);
  border-color: var(--colorful-dark-8)
}
.colorful_9 {
  background-color: var(--colorful-9);
  color: var(--colorful-dark-9);
  border-color: var(--colorful-dark-9)
}
.colorful_10 {
  background-color: var(--colorful-10);
  color: var(--colorful-dark-10);
  border-color: var(--colorful-dark-10)
}

.event td > span {
  display: flex;
  justify-content: space-between;
}
.event td span span:last-child {
  padding-left: 1rem;
  text-align: right;
}
.event td:last-child {
  text-align: right;
}

@media (max-width: 500px) {
  .event td > span,
  .event td > span span {
    display: block;
  }

  .event td span span:last-child {
    /* text-align: left; */
    font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana,
    'Bitstream Vera Sans', sans-serif;
    text-transform: uppercase;
    color: var(--white-600);
    padding-left: 0;
  }
  
  .appearances .event td span span:last-child {
    text-align: left;
  }
}
